body {
    background: #7F7FD5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}


form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem 0;
    padding: 5rem;
    border: 1px solid white;
    background-color: white;
    border-radius: 0.3rem;
}

.mt-1 {
    margin: 1.5rem 0;
}

.btn{
    background: #7F7FD5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 0.5rem 5rem;
    border: 1px solid white;
    border-radius: 1rem;
}

.budget-padding{
    padding: 0 2rem;
}

.service-padding{
    padding:0 4rem;
}