<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Welcome to the puppy survey</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.breed.label }} {{ form.breed }}
        <br>
        {{ form.neutered.label }} {{ form.neutered }}
        <br>
        {{ form.mood.label }} {{ form.mood }}
        <br>
        {{ form.food_choice.label }} {{ form.food_choice }}
        <br>
        Any other feedback?
        <br>
        {{ form.feedback.label }} {{ form.feedback }}
        <br>
        {{ form.submit() }}

    </form>

</body>

</html>